# Angular build and dependency outputs
**/node_modules/
**/dist/
**/.angular/

# .NET build and dependency outputs
**/bin/
**/obj/
**/.vs/
**/appsettings.Development.json

# Operating system files
.DS_Store
Thumbs.db